@use "sass:color";

/*
Style variables
____________________
*/
$background-primary-color: #131622;
$text-primary-color: #C25EF1;
$tint-primary-color: #fff;

$background-secondary-color: #1E2333;
$text-secondary-color: #7A849D;
$tint-secondary-color: #fff;

$button-primary-color: #1790D7;
$button-second-color: #fff;

/*
____________________
*/

body {
  background-color: $background-primary-color;
  color: $text-primary-color;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: left;
  margin: 0%;
}

header {
  padding: 20px;
  text-align: left;

  h1 {
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

  h3 {
    margin-top: 0%;
    padding-top: 0%;
  }
}

footer {
  padding: 20px;
}

a {
  color: $tint-primary-color;
  text-decoration: none;

  &:focus,
  &:hover {
    border-bottom: 1px solid $tint-primary-color;
  }
}

main {
  padding: 0px;
  color: $text-secondary-color;

  h1 {
    font-size: large;
  }

  a {
    color: $tint-secondary-color;
    text-decoration: none;
    
    &:focus,
    &:hover {
      border-bottom: 1px solid $tint-secondary-color;
    }
  }
}

li.homapage_menu {
  a {
    font-size: larger;
    text-decoration: none;
  }
}


#gooey-button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  color: $button-second-color;
  filter: url('#gooey');
  position: relative;
  background-color: $button-primary-color;

  &:focus {
    outline: none;
  }
  .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .bubble {
      background-color: $button-primary-color;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;

      @for $bubble from 1 through 10 {
        &:nth-child(#{$bubble}) {
          $size: 25px;
          left: (random(90) + 10)+px;
          width: $size;
          height: $size;
          animation: move-#{$bubble} #{3 + $bubble*0.02}s infinite;
          animation-delay: #{$bubble*0.2}s;
        }
      }
    }
  }
}
@for $bubble from 1 through 10 {
  @keyframes move-#{$bubble} {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -(random(80) + 50)+px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
}

.slide-top {
	-webkit-animation: slide-top 0.78s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0w.3s infinite alternate both;
	        animation: slide-top 0.78s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s infinite alternate both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            opacity: 1;
  }
}