@use "sass:color";
/*
Style variables
____________________
*/
/*
____________________
*/
body {
  background-color: #131622;
  color: #C25EF1;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: left;
  margin: 0%; }

header {
  padding: 20px;
  text-align: left; }
  header h1 {
    margin-bottom: 0%;
    padding-bottom: 0%; }
  header h3 {
    margin-top: 0%;
    padding-top: 0%; }

footer {
  padding: 20px; }

a {
  color: #fff;
  text-decoration: none; }
  a:focus, a:hover {
    border-bottom: 1px solid #fff; }

main {
  padding: 0px;
  color: #7A849D; }
  main h1 {
    font-size: large; }
  main a {
    color: #fff;
    text-decoration: none; }
    main a:focus, main a:hover {
      border-bottom: 1px solid #fff; }

li.homapage_menu a {
  font-size: larger;
  text-decoration: none; }

#gooey-button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  color: #fff;
  filter: url("#gooey");
  position: relative;
  background-color: #1790D7; }
  #gooey-button:focus {
    outline: none; }
  #gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    #gooey-button .bubbles .bubble {
      background-color: #1790D7;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1; }
      #gooey-button .bubbles .bubble:nth-child(1) {
        left: 15px;
        width: 25px;
        height: 25px;
        animation: move-1 3.02s infinite;
        animation-delay: 0.2s; }
      #gooey-button .bubbles .bubble:nth-child(2) {
        left: 19px;
        width: 25px;
        height: 25px;
        animation: move-2 3.04s infinite;
        animation-delay: 0.4s; }
      #gooey-button .bubbles .bubble:nth-child(3) {
        left: 61px;
        width: 25px;
        height: 25px;
        animation: move-3 3.06s infinite;
        animation-delay: 0.6s; }
      #gooey-button .bubbles .bubble:nth-child(4) {
        left: 39px;
        width: 25px;
        height: 25px;
        animation: move-4 3.08s infinite;
        animation-delay: 0.8s; }
      #gooey-button .bubbles .bubble:nth-child(5) {
        left: 75px;
        width: 25px;
        height: 25px;
        animation: move-5 3.1s infinite;
        animation-delay: 1s; }
      #gooey-button .bubbles .bubble:nth-child(6) {
        left: 98px;
        width: 25px;
        height: 25px;
        animation: move-6 3.12s infinite;
        animation-delay: 1.2s; }
      #gooey-button .bubbles .bubble:nth-child(7) {
        left: 26px;
        width: 25px;
        height: 25px;
        animation: move-7 3.14s infinite;
        animation-delay: 1.4s; }
      #gooey-button .bubbles .bubble:nth-child(8) {
        left: 85px;
        width: 25px;
        height: 25px;
        animation: move-8 3.16s infinite;
        animation-delay: 1.6s; }
      #gooey-button .bubbles .bubble:nth-child(9) {
        left: 23px;
        width: 25px;
        height: 25px;
        animation: move-9 3.18s infinite;
        animation-delay: 1.8s; }
      #gooey-button .bubbles .bubble:nth-child(10) {
        left: 90px;
        width: 25px;
        height: 25px;
        animation: move-10 3.2s infinite;
        animation-delay: 2s; }

@keyframes move-1 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -85px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-2 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -76px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-3 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -97px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-4 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -111px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-5 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -98px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-6 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -122px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-7 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -129px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-8 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -127px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-9 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -71px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-10 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -74px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

.slide-top {
  -webkit-animation: slide-top 0.78s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0w 0.3s infinite alternate both;
  animation: slide-top 0.78s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s infinite alternate both; }

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1; } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1; } }
