<p align="right" style="padding-top: 25%;">
    <a href="https://github.com/MadL0rd">
        <img height="20" src="https://img.shields.io/badge/GitHub-MadL0rd-gray.svg?logo=GitHub&colorA=000000&colorB=F3F3F3&style=for-the-badge"/>
    </a>
    <a href="https://t.me/MadL0rd">
        <img src="https://img.shields.io/badge/telegram-MadL0rd-gray.svg?logo=telegram&colorA=F3F3F3&colorB=2CA4DE&style=for-the-badge"/>
    </a>
</p>