<footer>    
    <p class="p1">If you have any questions or suggestions, do not hesitate to contact <%= data.site.appName %>
    <a href="<%= data.site.supportMail %>"><span class="s1">support</span></a></p>
</footer>